body {
  background-image: url("paper.jpg");
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

nav {
  background: black;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}

nav a {
  text-decoration: none;
  padding-left: 40px;
  color: white;
}

nav a:hover {
  color: red;
}

.logo {
  position: absolute;
  left: 75%;
  top: 1%;
}

/* styles */

.mySlides {
  width:100%;
}

.gallery {
  width: 65%;
  margin: 0 auto;
  display: block;
}

button {
  border: 0px;
  background-color: Transparent;
  outline: none;
  opacity: .5;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.left {
  float: left;
  position: fixed;
  top: 60%;
  left: 10%;
}

.right {
  float: right;
  position: fixed;
  top: 60%;
  left: 86%;
}
